In [14]:
pps={"Ronan Downes":"5133082P", "Airida Downes":"4009491G", "Gabija Downes":"6452961k", "Erik Downes":"" }

for key, value in pps.items():
    print(f"{key}: {value}")

Ronan Downes: 5133082P
Airida Downes: 4009491G
Gabija Downes: 6452961k
Erik Downes:

It appears that you have provided a dictionary called `pps` with two key-value pairs. The keys are names, and the values are corresponding PPS (Personal Public Service) numbers. Here's the breakdown:

1. Ronan Downes: PPS number is "5133082P".
2. Airida Downes: PPS number is "4009491G".

Please note that PPS numbers are unique identifiers used in Ireland for various administrative purposes.

## pd.DataFrame.from_dict()

In [15]:
import pandas as pd



df = pd.DataFrame.from_dict(pps, orient='index', columns=['PPS Number'])

df

              PPS Number
Ronan Downes    5133082P
Airida Downes   4009491G
Gabija Downes   6452961k
Erik Downes

In [16]:
df = pd.DataFrame.from_dict(pps, orient='index', columns=['PPS Number'])
df.index.name = 'Names'
df

              PPS Number
Names
Ronan Downes    5133082P
Airida Downes   4009491G
Gabija Downes   6452961k
Erik Downes

In [13]:
df = pd.DataFrame.from_dict(pps, orient='index', columns=['PPS Number'])
df.reset_index(inplace=True)
df.columns = ['Name', 'PPS Number']
df

            Name PPS Number
0   Ronan Downes   5133082P
1  Airida Downes   4009491G
2  Gabija Downes   6452961k

In [23]:
df = pd.DataFrame.from_dict(pps, orient='index', columns=['PPS Number'])
df.reset_index(inplace=True)
df.columns = ['Index', 'Names', 'PPS']

df

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements