<a href="
https://neuronize.dev/seaborn-101-learn-seaborn-in-10-minutes
">
Seaborn 101 - Learn Seaborn in 10 Minutes
</a>

In [1]:
import numpy as np  
import pandas as pd  
import seaborn as sns
import matplotlib.pyplot as plt

import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("titanic_data.csv")

In [5]:
dfw=pd.read_csv('weight.csv')
dfw

  date weight
0  5/7/2023 96
1  6/7/2023 94

In [ ]:
df

In [ ]:
sns.histplot(df["age"])
plt.show()

In [ ]:
sns.histplot(df["age"], bins=10)
plt.show()

In [ ]:
sns.jointplot(x="age", y="fare", data=df)
plt.show()

In [ ]:
df = pd.read_csv("housing.csv")

In [ ]:
sns.jointplot(x="total_bedrooms", y="households", data=df)
plt.show()

In [ ]:
sns.jointplot(x="total_bedrooms", y="households", data=df, kind='reg')

In [ ]:
sns.pairplot(df)

In [ ]:
sns.barplot(x='ocean_proximity', y='median_house_value', data=df)
plt.show()

In [ ]:

sns.countplot(data=df, x="ocean_proximity")
plt.show()

In [ ]:
sns.boxplot(data=df, x="ocean_proximity", y="median_house_value")

In [ ]:
sns.violinplot(x="ocean_proximity", y="median_house_value", data=df)

In [ ]:
plt.figure(figsize=(12,8))
df_corr = df.corr()
sns.heatmap(df_corr, annot=True)

In [ ]:
df = pd.read_csv("titanic_data.csv")

In [ ]:
# Create a histogram of Sex using Survived as hue
sns.countplot(x='sex', hue='survived', data=df)

In [ ]:
sns.violinplot(x='sex', y='age', hue='survived', data=df)

In [ ]:
sns.barplot(x='sex', y='survived', hue='pclass', data=df)

In [ ]:
sns.set_style("darkgrid")
sns.violinplot(x='sex', y='age', hue='survived', data=df)

In [ ]:
# Create a FacetGrid with two columns based on sex
g = sns.FacetGrid(data=df, col='sex')
# Map sns.distplot to each subplot with age as x and survived as hue
g.map(sns.histplot, 'age', kde=False, palette='set1')
# Add a legend and adjust the layout
g.add_legend()
g.tight_layout()