<a href=" https://neuronize.dev/pandas-101-learn-pandas-in-10-minutes"> Sahil tutorial
</a>

Library for data analysis and manipulation

In [7]:
import pandas as pd
import numpy as np

The data can be one-dimensional data or multi-dimensional data. First, I will give you an overview of one-dimensional data, then we’ll dive deep into multi-dimensional data.

Series
A pandas series is a one-dimensional array of data that can store any type of values, such as numbers, strings, or boolean. You can create a pandas series using Series() from a list, a dictionary, or a numpy array.

For example, you can create a series like this:

In [8]:
# creating an array using list
temps_list = [1, 2, 3, 4, 5] 
temps_list

[1, 2, 3, 4, 5]

In [9]:
# creating a dictionary
temps_dict = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50} 
temps_dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [10]:
# creating a numpy array
temps_numpy = np.array([100, 200, 300, 400, 500]) 
temps_numpy

array([100, 200, 300, 400, 500])

In [12]:
# creating a series from list
list_series = pd.Series(temps_list) 
list_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# creating a series from dictionary
dict_series = pd.Series(temps_dict)
dict_series

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [14]:
# creating a series from numpy array
numpy_series = pd.Series(temps_numpy)
numpy_series

0    100
1    200
2    300
3    400
4    500
dtype: int32

You can clearly see that this is an one-dimensional data.

Now, let’s learn about multi-dimensional data.

DataFrame
A pandas dataframe is a data structure that allows you to store and manipulate tabular data in Python. It is similar to a spreadsheet or a database table, but with more features and flexibility.

You can create a dataframe from various sources, such as lists, dictionaries, files, or web pages. A dataframe has rows and columns, each with a label. You can access and modify the data in a dataframe using various methods and attributes.

For example, you can create a dataframe of names and ages of people like this:

In [15]:
# creating a dictionary having names and ages
names_ages_dict = {
                    "Name": ["Alice", "Bob", "John", "Doe"],
                    "Age": [18, 24, 35, 11]
                  }
# creating dataframe from that dictionary
dict_dataframe = pd.DataFrame(names_ages_dict)
dict_dataframe

    Name  Age
0  Alice   18
1    Bob   24
2   John   35
3    Doe   11

m